003Character/
character_Data.bak/
character_labels.bak/
Team_DICE_Round2.zip
__pycache__/
char_recog_data/
char_recog_data_1/
weights/
data/
!data/val.txt
!data/license_plate.yaml
!data/character_seg.yaml
!data/run.py
!data/train.txt
!data/voc.names
.ipynb_checkpoints/
.vscode/
video.MOV
hard.zip
